# node
node_modules

# docs
docs/C-私人小记/CE-杂/CEA-小说创作/CEAA-凡人修仙传同人.md
docs/B-今人拾遗/BA-网络小说
# .vitepress
.vitepress/dist
.vitepress/cache

# uploadsrc
uploadsrc

# .vscode
.vscode

# PrivateContent
PrivateContent